/*Main Page and navbar*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

/* html *:before,
html *:after {
  box-sizing: border-box;
  
} */
/* 
a {
  text-decoration: none;
  line-height: 80px;
} */

@media (min-width: 600px) {
  .wrap {
    width: 50%;
    float: left;
  }
}
[class^=btn-] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
.btn-6 {
  color: #59a16b;
}
.btn-6 span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #245631;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.btn-6:hover {
  color: #cee3d4;
}
.btn-6:hover span {
  width: 225%;
  height: 562.5px;
}
.btn-6:active {
  background-color: #3c9051;
}
.btn-11 {
  position: relative;
  color: rgb(40, 123, 255); 
  text-decoration: none;
  padding-top: 1em;
  padding-left: 4em;
}
.btn-11:before, .btn-11:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgb(40, 123, 255);
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
.btn-11:before {
  left: -20px;
  transform: translate(-50%, -50%);
}
.btn-11:after {
  right: -20px;
  transform: translate(50%, -50%);
}
.btn-11:hover {
  color: rgb(40, 123, 255);
  transition: 0.5s ease-in-out;
}
.btn-11:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
          animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.btn-11:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
          animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
/*Chart and listing*/
.tradingview-widget-container {
  position: relative;
}
.chart {
  margin-right: 200px;
}

.row {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: flex-end;
  margin-right: 0 !important;
}
.heading {
  text-align: center;
  font-size: large;
  background-color: rgb(40, 123, 255);
  color: white;
}

.container-1{
  display: grid;
  position: relative;
}
.cont {
  border-left: 5px solid rgb(40, 123, 255);
  border-right: 5px solid rgb(40, 123, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 2px 0px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  align-self: flex-start;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 0px 0px;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium !important;
}

.item {
  display: flex;
  cursor: pointer;
  user-select: none;
  border-bottom: 1px solid rgba(168, 168, 168, 0.2);
  padding: 4px 12px;
  flex-grow: 0;
  background-color: #fff;
}

.ticker-item {
  border-bottom-color: rgba(77, 84, 87, 0.2);
  background-color: rgb(24, 26, 27);
}

.currency-logo {
  margin-right: 8px;
}

.gcvOpy {
  height: 14px;
  width: 14px;
}

.market-name {
  display: flex;
  flex-direction: column;
  color: #1c1b21;
  font-weight: 700;
}

.market-name-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.67;
  letter-spacing: 0.4px;
  color: #1c1b21;
}
.subtext {
  color: #92989b;
  font-size: 10px;
  line-height: 1.2;
  text-align: right;
  font-weight: 700;
}

.market-change {
  display: flex;
}
.cFmqCk {
  display: block;
  color: rgb(0, 200, 83);
  font-size: 10px;
  line-height: 1.2;
  text-align: right;
  font-weight: bold;
}
.price {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #485156;
  z-index: 1;
  margin-left: 12em;
}

.price-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.price-text {
  font-weight: 700;
  color: #222326;
  text-align: right;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.4px;
}
.okboss {
  border-bottom: 5px solid rgb(40, 123, 255);
}

/*Buy and sell*/

.eqmIRJ {
  display: flex;
  position: relative;
  flex-shrink: 0;
}
.cLPynA {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 0px 0px;
  position: relative;
}
.gUKorA {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
}
.eNLTVl {
  display: flex;
}
.actGreen {  
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(85 189 108) 0px 4px 0px 0px inset;
  padding: 10px 12px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  cursor: pointer;
}

.actRed {
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(239, 83, 80) 0px 4px 0px 0px inset;
  padding: 10px 12px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  cursor: pointer;
}
.sc-bwzfXH {
  color: rgb(34, 35, 38);
}
.grayed:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.grayed {
  background-color: rgb(247, 250, 252);
  box-shadow: rgb(0 0 0 / 12%) 0px -1px 0px 0px inset;
  padding: 10px 12px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  cursor: pointer;
}
.hlhjes {
  display: block;
  color: rgb(180, 184, 186);
  font-size: 12px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 1.33;
}
.guxsHv {
  margin: 16px;
}
.grRINs {
  display: flex;
  margin: 25px 0px 0px;
  flex-shrink: 0;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.bYnCFU {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  border: 1px solid rgba(34, 35, 38, 0.12);
  border-radius: 4px;
  overflow: hidden;
}
.jXyWCZ {
  display: flex;
  flex-shrink: 0;
  position: relative;
}
.gwpLlM {
  display: flex;
  flex-shrink: 0;
  padding: 0px 5px;
  margin: auto 0px;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  border-right: 1px solid rgba(34, 35, 38, 0.12);
  z-index: 1;
  width: 65px;
}
.hjQJfp {
  display: block;
  color: rgb(180, 184, 186);
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: right;
  font-weight: 400;
}
.hSygGi {
  display: block;
  color: rgb(180, 184, 186);
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: right;
  font-weight: bold;
}

/*button*/
button {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@media print {
  *,
  :after,
  :before {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
}
*,
:after,
:before {
  box-sizing: border-box;
}
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
::placeholder {
  color: #d3d3d3;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #d3d3d3;
}
::-ms-input-placeholder {
  color: #d3d3d3;
}
/*! CSS Used from: Embedded */
*,
::before,
::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding: 0px;
}
:focus {
  outline: none;
}
.TransactCryptoText {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.4px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.TransactCrypto {
  
  transition: 0.5s;
  border-radius: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px -1px 0px 0px inset;
  cursor: pointer;
  outline: 0px;
  background-color: rgb(85, 189, 108);
  user-select: none;
  width: 100%;
  height: 40px;
  margin: 20px 0px 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  text-align: left;
}
/*end for now*/


